<h1 style="text-align: center">Cadastro de cliente</h1>

<form [formGroup]="customer" (ngSubmit)="onSubmit()" novalidate>
  <fieldset>
    <legend>Informações gerais</legend>

    <div class="form-item">
      <label for="name">Nome</label>
      <input type="text" name="name" id="name" formControlName="name" />
    </div>

    <div class="form-item">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" formControlName="email" />
    </div>
  </fieldset>

  <button type="submit" class="btn-primary" [disabled]="customer.invalid">
    Salvar
  </button>
</form>
