<h2>Clientes</h2>

<a routerLink="new">Novo cliente</a>


<table style="margin-top: 10px;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.name }}</td>
      <td>
        <a [routerLink]="['/edit', cliente.id, cliente.name]">Editar</a>
      </td>
    </tr>
  </tbody>
</table>

<p>Exemplo com query string</p>

<a href="/new?name=Felipe&id=10">Query string</a>
